<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const successMessage = `[[${ successMessage }]]`;
        if(successMessage) {
            alert(successMessage)
        }
    </script>
</head>
<body>
<h1>게시판</h1>
<div th:replace="common/header"></div>
<table align="center" border="1">
    <tr>
        <th>게시글 번호</th>
        <th>작성자 아이디</th>
        <th>제목</th>
        <th>게시글 내용</th>
    </tr>
    <tr th:each="board : ${ boardList }">
        <td th:text="${ board.boardId }"></td>
        <td th:text="${ board.memberId }"></td>
        <td th:text="${ board.boardTitle }"></td>
        <td th:text="${ board.boardContext }"></td>
    </tr>
</table>
</body>
</html>